VITE_BACKEND_URL = http://localhost:3000
MODE=local | production

VITE_MIN_ANSWER_TIME = 5000
VITE_MAX_ANSWER_TIME = 40000
VITE_DEFAULT_ANSWER_TIME = 15000
VITE_ROUNDS_DEFAULT = 3
VITE_CODE_LENGTH = 5