PORT=3000
MODE=local | production
FRONTEND_URL=
MONGODB_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=

DISCONNECTED_TIME = 60000
DEFAULT_ANSWER_TIME = 15000
MIN_ANSWER_TIME = 5000
MAX_ANSWER_TIME = 30000
VOTING_TIME = 10000
REVEAL_TIME = 10000
MAX_PLAYERS = 8
ROUNDS_DEFAULT = 3

BONUS = 150

CODE_LENGTH = 5