@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@theme {
  --color-primary: #ff6b35;
  --color-secondary: #ffc93c;
  --color-background: #3111d2;
  --font-primary: "Rubik", sans-serif;
}