@import "tailwindcss";

@theme {
  --color-primary: #ff6b35;
  --color-secondary: #ffc93c;
  --color-terziary: #ab3500; 
  --color-background: #3111d2;
  --color-neroNonNero: #1b1b24;
  --font-primary: "Rubik", sans-serif;
  --shadow-buttons: 4px 4px 0px 0px #12121a;
}